/* .PSPDFKit-Toolbar {
    display: none;
} */
/* .PSPDFKit-Input-Dropdown {
  background-color: #000 !important;
  color: #fff !important;
} */

.PSPDFKit-Input-Dropdown-Item {
  margin-top: 4px;
}

/* .PSPDFKit-Input-Dropdown-Item-selected,
  .PSPDFKit-Input-Dropdown-Item-active,
  .PSPDFKit-Input-Dropdown-Item-focused
  button {
  background-color: #000 !important;
} */

/* div[class^="PSPDFKit-Input-Dropdown"] button {
  background-color: #000 !important;
  color: #fff !important;
} */
