.topic-header-container {
  margin-bottom: 14px;
  padding: 12px;
  border: 1.5px solid #000;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header-topic-no {
  font-size: 1rem;
  white-space: nowrap;
}

/* .header-inner-container {
  display: flex;
  align-items: center;
} */

.header-topic-name {
  width: 100%;
  margin-left: 24px;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.progress-bar {
  min-width: 250px;
  height: 7px;
  margin-left: auto;
}

.filled-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 150px;
  background: #000;
}
