.flowbite-select div select {
  font-size: 1rem;
  box-shadow: none;
  border: 2px solid #000;
}

/* styling for pagination container */
.paginate-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 12px;
  font-size: 1.6rem;
  font-weight: 400;
}

.paginate-container .container-li {
  width: 52px;
  height: 52px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.paginate-container .container-li .container-li-a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate-container .active-li {
  border: 2px solid blue;
  color: blue;
}

.paginate-container .disabled-li {
  border-color: #bbb;
  color: #bbb;
}

/* styling for pdf viewer container */

.react-pdf__Page {
  margin-bottom: 8px;
}

.react-pdf__Page__canvas {
  /* width: 100% !important; */
  border: 1px dashed #000;
}

.react-pdf__Thumbnail__page {
  margin-bottom: 8px;
}

.react-pdf__Thumbnail__page__canvas {
  /* display: none !important; */
  border: 1px dashed #000;
  padding: 8px !important;
  background-color: lightgray;
}